################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hogwarts_MVVM/Hogwarts.Core/bin
