<!DOCTYPE html>
<html>
<head>
	<title>Hogwarts Express Ticket</title>
	<link rel="icon" href="favicon.ico">
	<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
	<link rel="stylesheet" href="stylesheet.css">
</head>
<body>
	<div class="container">
		<img class="logo" src="logo.png" alt="Hogwarts logo">
		<h1>Hogwarts Express Ticket</h1>
		<div class="ticket-details">
			<p>Name: {{name}} {{last-name}}</p>
			<p>Train Number: <span>{{train-number}}</span></p>
		</div>
		<div class="ticket-details">
			<p>From: {{departure}}</p>
			<p>To: {{destination}}</p>
		</div>
		<div class="ticket-details">
			<p>Date: {{date}}</p>
			<p>Time: <span>{{time}}</span></p>
		</div>
		<div class="ticket-details">
			<p>Compartment: <span>{{compartment}}</span></p>
			<p>Seat: <span>{{seat}}</span></p>
		</div>
	</div>

</body>
</html>
