body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('C:/Users/Miaad/Desktop/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index:-2;
}

.container::after {
  content: "";
  position: absolute; /* position the overlay element absolutely within the container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background-color: rgba(78, 28, 217, 0.6); /* set the background color to white with 50% opacity */
  z-index: -1; /* set the overlay element to be behind other content */
}

.logo {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.ticket-details {
    display: flex;
     justify-content: space-between;
     margin-top: 50px;
}
.ticket-details p {
    font-size: 24px;
    margin: 0;
}
.ticket-details span {
    font-weight: bold;
    font-size: 30px;
}