<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SmtpServer" value="your-smtp-server-address" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUsername" value="your-smtp-username" />
		<add key="SmtpPassword" value="your-smtp-password" />
	</appSettings>
</configuration>